# Defaults for coreos-ipxe-server

# The server data directory.
COREOS_IPXE_SERVER_DATA_DIR="{{ coreos_ipxe_server_data_dir }}"

# The URL that the iPXE server listens on.
COREOS_IPXE_SERVER_LISTEN_ADDR="{{ ipxe_listen_address }}"
