---

# Server versions
mcp2_dhcp_server_version:   "0.1.0-alpha5"
coreos_ipxe_server_version: "0.3.0"

# CloudControl connection details.
# Place username and password in MCP_USERNAME / MCP_PASSWORD environment variables.
mcp_user:     "{{ lookup('env','MCP_USER') }}"
mcp_password: "{{ lookup('env','MCP_PASSWORD') }}"
mcp_region:   "AU"
mcp_vlan_id:  "5aea291a-5fff-4613-bfbf-27a33e9eb94f"

# Server configuration
coreos_default_ssh_key_file: "~/.ssh/id_rsa.pub" # Use the current user's SSH key

# DHCP configuration
dhcp_interface:   "ens160"
dhcp_service_ip:  "192.168.5.10" # IP address of the DHCP / iPXE server

# PXE / iPXE configuration
coreos_ipxe_server_data_dir:  "/opt/coreos-ipxe-server"
pxe_boot_image:               "undionly.kpxe"
ipxe_default_profile:         "development"
ipxe_port:                    4777
ipxe_listen_address:          "0.0.0.0:{{ ipxe_port }}" # By default, listen on all addresses
ipxe_base_address:            "{{ private_ipv4 }}:{{ ipxe_port }}" # Direct clients to this address, specifically
ipxe_base_url:                "http://{{ ipxe_base_address }}/"
ipxe_boot_script:             "{{ ipxe_base_url }}?profile={{ ipxe_default_profile }}"
