[Unit]
Description="CoreOS iPXE Server"
Documentation="https://github.com/kelseyhightower/coreos-ipxe-server#readme"
Wants=network-online.target
After=network-online.target
ConditionPathExists=/etc/default/coreos-ipxe-server

[Service]
Type=simple
EnvironmentFile=/etc/default/coreos-ipxe-server
ExecStart=/usr/local/bin/coreos-ipxe-server

[Install]
WantedBy=multi-user.target
