mcp:
  user: "{{ mcp_user }}"
  password: "{{ mcp_password }}"
  region: "{{ mcp_region }}"

network:
  interface:  "{{ dhcp_interface }}"
  vlan_id:    "{{ mcp_vlan_id }}"
  service_ip: "{{ dhcp_service_ip }}"

ipxe:
  enable:       true
  port:         "{{ ipxe_port }}"
  boot_image:   "{{ pxe_boot_image }}"
  boot_script:  "{{ ipxe_boot_script }}"
